html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p img{
  width:750px;
  margin: 5px auto;
}
pre{
  background-color: rgba(0, 0, 0, 0.548);
  width: 760px;
  padding: 6px 18px;
}
code{
  width: 100%;
  color: white;
  scroll-behavior: smooth;
  overflow-x: scroll;
  
}

.spinner-border{
  height: 6rem;
  width: 6rem;
}
.loginIndicator{
  background-color: transparent;
  color: white !important;
  border: none;
  outline: none;
}
.loginIndicator :hover{
  border: none;
  outline: none;
}
.send-button{
  background: #404be6;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  .header-title{
    text-align: center;
    margin: 6rem 1rem;
  }

  h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
  }


  
  @media screen and (max-width:480px){
  h1{
  font-size: 26px;
  }
  }